<img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg">
<h1>RoR Auth0 Sample</h1>
<p>Step 1 - Login.</p>
<%= button_to 'auth/auth0' do %>
  <i class="far fa-sign-in-alt"></i>
  Login
<% end %>
